.attempts {
  background-color: #fff;
  border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0px darkgray;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2em;
  border: none;
}

.attempts thead th:nth-child(1) {
  width: 5%;
}

.attempts thead th:nth-child(2) {
  width: 45%;
}

.attempts thead th:nth-child(3) {
  width: 50%;
}

.attempts th {
  text-align: center;
  padding: 0.5em 1em;
  font-size: 1.2rem;
  font-weight: bold;
}

.attempts td {
  font-size: 1.2rem;
  line-height: 2rem;
  border-top: 1px solid lightgray;
  padding: 0.25em 0.5em;
  text-align: center;
}

.attempts tbody td:nth-child(1) {
  padding: 0;
  color: gray;
  font-size: 0.9rem;
}

.attempts tbody td:nth-child(2) {
  letter-spacing: 4px;
}
