.app {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
}

@media (min-height: 680px) {
  .app {
    margin-top: 3rem;
  }
}

.app header {
  margin-bottom: 2.5rem;
}

.app header h1 {
  margin-bottom: 1rem;
}

.app h1 small {
  display: block;
  color: #737373;
  font-weight: normal;
}

.app footer {
  align-items: flex-start;
  border-top: 1px solid lightgray;
  color: #737373;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding-top: 0.5rem;
}

.github {
  /* colorize black part of the logo using the "teal" color
     generated via https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(35%) sepia(33%) saturate(7488%) hue-rotate(161deg)
    brightness(85%) contrast(101%);
}
